{% extends 'accounts/main.html' %}

{% block title %}Order Status{% endblock %}

{% block content %}
<h1 class="mt-4 mb-4">Order Status</h1>
<h5 class="mt-4 mb-4">Total orders - <strong>{{orders}}</strong></h5>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>Delivered Products</strong></h5>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Customer</th>
                            <th>Product</th>
                        </thead>
                        <tbody>
                                {% for order in delivered_orders %}
                                    <tr>
                                        <td>{{ order.customer.name }}</td>
                                        <td>{{ order.product.name }}</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>In-transit Products</strong></h5>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Customer</th>
                            <th>Product</th>
                        </thead>
                        <tbody>
                                {% for order in intransit_orders %}
                                    <tr>
                                        <td>{{ order.customer.name }}</td>
                                        <td>{{ order.product.name }}</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>Pending Products</strong></h5>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Customer</th>
                            <th>Product</th>
                        </thead>
                        <tbody>
                                {% for order in pending_orders %}
                                    <tr>
                                        <td>{{ order.customer.name }}</td>
                                        <td>{{ order.product.name }}</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
